<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <style>
    /* * {
      background-color: blue;
    } */
    .container {
      background: url("https://wallpaper.dog/large/5543612.jpg") no-repeat
        center center/cover;

      border: 2px solid white;
      height: 550px;
      width: 1000px;
      margin: auto;
      margin-top: 100px;
      display: flex;
      padding: 50px;
      box-shadow: 10px 10px 8px 12px white;
      box-sizing: border-box;
    }
    .photo {
      /* border: 2px solid black; */
      height: 300px;
      width: 300px;

      margin: auto;
      /* margin-top: 150px;  */
    }
    .photo img {
      height: 300px;
      width: 300px;
    }
    .form {
      border: 2px solid white;
      height: 320px;
      width: 350px;
      margin: auto;
      background-color: rgba(0, 0, 0, 0.76);
      margin-top: 10px;
      /* background-color: tan; */
    }
    .opacity {
      padding: 5px;
      margin: 12px;
      border: 2px solid white;
      border-radius: 10px;
      height: 15px;
      width: 200px;
      box-shadow: 2px 2px 2px white;
    }
  </style>
  <body>
    <div class="container">
      <div class="form" style="text-align: center; margin-left: 500px">
        <form action="/login" method="post">
          <h1 style="text-align: center; color: white">SIGNIN</h1>
          <div>
            <!-- <input
              class="opacity"
              type="text"
              placeholder="USERNAME"
              id="username"
              name="name"
            /> -->
            <input
              class="opacity"
              type="email"
              placeholder="EMAIL"
              id="emailid"
              name="email"
            />
            <br />
            <input
              class="opacity"
              type="password"
              placeholder="PASSWORD"
              id="password"
              name="password"
            />
          </div>
          <br />
          <button
            type="submit"
            style="
              border-radius: 8px;
              color: black;
              border: 2px solid white;
              box-shadow: 2px 2px 2px white;
              font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman',
                serif;
            "
          >
            SUBMIT
          </button>
        </form>
        <p style="text-align: center; color: white">Don't Have an account?</p>
        <div>
          <a
            href="/register"
            style="margin-left: 15px; font-size: 1rem; color: white"
            >SIGNUP</a
          >
        </div>
      </div>
    </div>
  </body>
</html>
